@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
     Mastek UK Ltd (Leeds)<br />
    4th Floor<br />
    36 Park Row<br />
    Leeds<br />
    LS1 5JL, UK<br />
    <abbr title="Phone">P:</abbr>
    +44 (0) 118 903 5752
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a><br />
    <strong>LinkToAbout:</strong> <a href="http://localhost/Home/About">About</a>
</address>